.intro {
  max-width: 984px;
  margin: 0 auto 92px;
  text-align: left;
}

@media screen and (max-width: 1024px) {
  .intro {
    margin: 0 48px 92px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    margin: 0 24px 92px;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    margin: 0 16px 92px;
  }
}