.intro__title {
	max-width: 690px;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  margin: 0 0 40px 0;
}

@media screen and (max-width: 425px) {
  .intro__title {
    font-size: 37px;
    line-height: 35px;
  }
}